.contact{
    margin-top: 100px;
    position: absolute;
    top: 0;
    left: 20%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.list_contact{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.list_contact_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 01rem;
    gap: 2.5rem;
    color: black;
    background-color: #5e8869;
    cursor: pointer;
    border-radius: 10px;
    transition: 400ms;
}
.list_contact :hover{
    background-color: #F1E9D2;
}
.user_photo{
    width: 3.3rem;
    border-radius: 50%;
}
.list_contact_item:hover {
    transform: scale(1.1,1.1);
}
.list_contact:hover > .list_contact_item:not(:hover){
    filter: blur(10px);
    transform: scale(0.9,0.9);
}
/* From Uiverse.io by xetrov47 */ 
.search {
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .search__input {
    font-family: inherit;
    font-size: inherit;
    border: 1px solid #aae8be;
    color: #767676;
    padding: 5px 10px;
    border-radius: 4px;
    margin-right: -1.5rem;
    height: 30px;
    width: 20rem;
  }
  
  .search__input::-webkit-input-placeholder {
    font-weight: 400;
    color: #767676;
    font-size: 14px;
  }
  
  .search__button {
    border: none;
    background-color: #fff;
    margin-top: 0.1em;
  }
  
  .search__button:hover {
    cursor: pointer;
  }
  
  .search input:focus {
    outline: none;
  }
  
