#root {
  max-width: 1080px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  padding: 20px;
  border-radius: 20px;
  position: absolute;
  background-color: #5e8869;
  color: #fff;
  border: 1px solid #132513;
  top: 0%;
  left: 21%;
  margin-top: 85px;
}

.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #ffffff;
}

.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #ffffff;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  background-color: #424e42;
  color: #ffffff;
  width: 100%;
  padding: 20px 05px 05px 2px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  color: #dcecda;
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 8px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  color: #fcfcfc;
  top: 4px;
  font-size: 0.7em;
  font-weight: 600;
}

.input {
  font-size: medium;
}

.submit {
  display: flex;
  justify-content: center;
  outline: none;
  padding: 10px;
  color: #000000;
  font-size: 16px;
  transform: 0.3s ease;
  background-color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 10em;
  font-size: 17px;
  font-weight: 600;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
}

.submit:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
  background-color: #5e8869;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.circle {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #dddddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-image {
  position: relative;
  margin-top: -35px;
  margin-left: 90px;
}

.upload-button {
  cursor: pointer;
  color: #ffffff;
  font-size: 9px;
  background: #9e9e9e;
  border-radius: 50%;
  padding: 15px;
  border: 2px solid #ffffff25;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.upload-button:hover {
  background: #b6b6b6;
}

.file-upload {
  display: none;
}
