@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
header{
    display: flex;
    position: absolute;
    top: 0;
    left: 20%;
    padding: 1rem 0;
}
.Nav_List{
    display: flex;
    list-style: none;
    column-gap: 4rem;
}

header button {
    font-size: 18px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  a {
    color: beige;
    text-decoration: none;
  }
  
header button:focus,
header button:hover {
    color: #fff;
  }
  
header button:focus:after,
header button:hover:after {
    width: 50%;
    left: 0%;
  }
  
header button:after {
    content: "";
    pointer-events: none;
    bottom: 25px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }
  
  #bot:focus,
  #bot:hover {
    color: #fff;
  }
  #bot:focus:after,
  #bot:hover:after {
    width: 50%;
    right: 0%;
  }
  
  #bot:after {
    content: "";
    pointer-events: none;
    bottom: -5px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, right;
  }
  